*{
    margin: 0;
    padding: 0;
}

html,body {
    min-height: 100vh;
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 2;
    letter-spacing: 1.5px;
    img{
        height: 50px;
        width: 50px;
        margin-bottom: 60px;
    }
    h1{
        color: $color-orange;
        margin-bottom: 30px;
    }
    .article {
        width: 200px;
        border:$color-grey solid 1px;
        margin: 40px;
        padding: 20px;
        display: grid;
        justify-items: center;
        .seeArticle {
            text-decoration: none;
            background-color: $color-orange;
            padding: 10px 20px;
            color: white;
            border-radius: 20px;
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin: 20px 0;
        }
        img {
            height: auto;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
}
