.recette_container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .banner {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    p {
        font-size: 4rem;
        margin: 50px 0;
    }
    .recette_block {
        padding: 50px 20%;
        box-sizing: border-box;
        .secondPic {
            width: 100%;
            height: auto;
        }

        h2 {
            font-size: 3rem;
            margin:50px 0;
        }
    }
    
}