-
    var recette = [

        {
            pict: '/public/media/food-recette.jpg',
            title: "Article 1", 
            description: "I create this starter to simplify the begining of a project. dzadazdzad dzadzadazdzada zdadzad zadza dad",
            id:'recette',
            secondPict: '/public/media/food2-recette.jpg',
            ingredient: ["sucre", "beurre", "farine"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "FMélanger le beurre et la farine et remuez pendant 2 minutes",
            ]
        },

        {
            pict: '/public/media/food2-recette.jpg',
            title: "Article 2", 
            description: "I create this stardazdzazazadzzadzte zadz adzad adazdzad azdzad azdadz adad zadzdazdzad azdad.",
            id:'recette2',
            secondPict: '/public/media/food-recette.jpg',
            ingredient: ["sucre", "beurre"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "Coupez les fruits en petit morceau avant de les passer au blender",
            ]
        },

        {
            pict: '/public/media/food2-recette.jpg',
            title: "Article 3", 
            description: "I create this stardazdzazazadzzadzte zadz adzad adazdzad azdzad azdadz adad zadzdazdzad azdad.",
            id:'recette3',
            secondPict: '/public/media/food-recette.jpg',
            ingredient: ["sucre", "beurre"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "Coupez les fruits en petit morceau avant de les passer au blender",
            ]
        },

         {
            pict: '/public/media/food-recette.jpg',
            title: "Article 4", 
            description: "I create this starter to simplify the begining of a project. dzadazdzad dzadzadazdzada zdadzad zadza dad",
            id:'recette4',
            secondPict: '/public/media/food2-recette.jpg',
            ingredient: ["sucre", "beurre", "farine"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "FMélanger le beurre et la farine et remuez pendant 2 minutes",
            ]
        },

        {
            pict: '/public/media/food2-recette.jpg',
            title: "Article 5", 
            description: "I create this stardazdzazazadzzadzte zadz adzad adazdzad azdzad azdadz adad zadzdazdzad azdad.",
            id:'recette5',
            secondPict: '/public/media/food-recette.jpg',
            ingredient: ["sucre", "beurre"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "Coupez les fruits en petit morceau avant de les passer au blender",
            ]
        },

        {
            pict: '/public/media/food2-recette.jpg',
            title: "Article 6", 
            description: "I create this stardazdzazazadzzadzte zadz adzad adazdzad azdzad azdadz adad zadzdazdzad azdad.",
            id:'recette6',
            secondPict: '/public/media/food-recette.jpg',
            ingredient: ["sucre", "beurre"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "Coupez les fruits en petit morceau avant de les passer au blender",
            ]
        },

        {
            pict: '/public/media/food2-recette.jpg',
            title: "Article 7", 
            description: "I create this stardazdzazazadzzadzte zadz adzad adazdzad azdzad azdadz adad zadzdazdzad azdad.",
            id:'recette7',
            secondPict: '/public/media/food-recette.jpg',
            ingredient: ["sucre", "beurre"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "Coupez les fruits en petit morceau avant de les passer au blender",
            ]
        },

        {
            pict: '/public/media/food2-recette.jpg',
            title: "Article 8", 
            description: "I create this stardazdzazazadzzadzte zadz adzad adazdzad azdzad azdadz adad zadzdazdzad azdad.",
            id:'recette8',
            secondPict: '/public/media/food-recette.jpg',
            ingredient: ["sucre", "beurre"],
            preparation: [
                "Faite fondre le beurre pendant 3 minutes au micro ondes",
                "Coupez les fruits en petit morceau avant de les passer au blender",
            ]
        },
    ]


