-
    var data = [

        {
            pic: './public/media/favicon.ico',
            title: "Welcome in my starter pug :)", 
            description: "I create this starter to simplify the begining of a project.",
            linkedin: "https://www.linkedin.com/in/nicolas-jeanne-74b01a151/"
        },

    ]