-
    var tenDays = [
        {trac: '50', dips: '50',pomp: '50', id: 1, day:1},{trac: '50', dips: '50',pomp: '50', id:2, day:1},{trac: '50', dips: '50',pomp: '50', id: 3, day:1},{trac: '50', dips: '50',pomp: '50', id: 4,day:1},{trac: '50', dips: '50',pomp: '50', id: 5, day:1},{trac: '50', dips: '50',pomp: '50', id: 6, day:1}, {trac: '50', dips: '50',pomp: '50', id: 7, day:1},{trac: '50', dips: '50',pomp: '50', id: 8, day:1}, {trac: '50', dips: '50',pomp: '50', id: 9, day:1},{trac: '50', dips: '50',pomp: '50', id: 10, day:1}
    ]

    var twentyDays = [
        {trac: '60', dips: '60',pomp: '60', id: 11, day:1},{trac: '60', dips: '60',pomp: '60', id:12, day:1},{trac: '60', dips: '60',pomp: '60', id: 13, day:1},{trac: '60', dips: '60',pomp: '60', id: 14,day:1},{trac: '60', dips: '60',pomp: '60', id: 15, day:1},{trac: '60', dips: '60',pomp: '60', id: 16, day:1}, {trac: '60', dips: '60',pomp: '60', id: 17, day:1},{trac: '60', dips: '60',pomp: '60', id: 18, day:1}, {trac: '60', dips: '60',pomp: '60', id: 19, day:1},{trac: '60', dips: '60',pomp: '60', id: 20, day:1}
    ]

    var thirteenDays = [
        {trac: '70', dips: '70',pomp: '70', id: 21, day:1},{trac: '70', dips: '70',pomp: '70', id:22, day:1},{trac: '70', dips: '70',pomp: '70', id: 23, day:1},{trac: '70', dips: '70',pomp: '70', id: 24,day:1},{trac: '70', dips: '70',pomp: '70', id: 25, day:1},{trac: '70', dips: '70',pomp: '70', id: 26, day:1}, {trac: '70', dips: '70',pomp: '70', id: 27, day:1},{trac: '70', dips: '70',pomp: '70', id: 28, day:1}, {trac: '70', dips: '70',pomp: '70', id: 29, day:1},{trac: '70', dips: '70',pomp: '70', id: 30, day:1}
    ]
    