include data.pug
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="icon", type="image/png", href="./src/media/favicon.ico")
        title Name of web app
        script(src="./src/js/app.js") 
        link(rel='stylesheet', href='./src/css/style.css', type='text/css' )

    body

        each item in data 
            ul(item.id) Starter
                li(item.list) Pug

        include head.pug
