include data.pug
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Exploring the Pug template
        script(src="./src/js/test.js") 
        link(rel='stylesheet', href='./src/css/style.css', type='text/css' )
        link(rel='stylesheet', href='./src/css/resultSession.css', type='text/css' )

    body(onload="check(); checkReload(); setInputValue()")
        
        //- input(type="range" readonly="readonly" id='helo')
        div.resultContainer
            div.resultWrapper
                a.back(href='/')
                    img(src="./src/media/arrow.png")
                    | Back home
                h2 Keep it up you have tracked
                div.wrappDay
                    input.day(value="0" readonly="readonly"  type="text" name="total") 
                    p days

                div.scoreBoard
                    div.scoreboardWrapper
                        div.range
                            input.day(value="0" readonly="readonly" type="text" name="total") 
                            input(type="range" min="0" value="" max="10"  name="rangeDay" id='rangeDay')
                            p days
                        div.range
                            input(type="range" min="0" value="" max="200"  name="rangeTrac" id='rangeDay')
                            p tractions
                        div.range
                            input(type="range" min="0" value="" max="10"  name="rangeDay" id='rangeDay')
                            p days
                //- input(type="range" readonly="readonly" id='helo')
                //- input(value="0" readonly="readonly" type="text" name="totalTrac") 
        
