-
    var tenDays = [
        {trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'},{trac: '50', dips: '50',pomp: '50'}
    ]

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Exploring the Pug template
        script(src="./src/js/test.js") 
        link(rel='stylesheet', href='./src/css/style.css', type='text/css' )
        link(rel='stylesheet', href='./src/css/head.css', type='text/css' )
        link(rel='stylesheet', href='./src/css/workout.css', type='text/css' )

    body(onload="check()")
        //- each item in tenDays 
        //-     input(type='checkbox' value=item.id class='testt' onclick="check()")
            
        //- input(value="0" readonly="readonly" type="text" name="total")
        //- input(type="range" readonly="readonly" id='helo')

        include head.pug

        div.container
            div.progression
                h4 Voir ma progression
                a.progressLink(href='resultWorkout.pug') 
                    span Accède à toutes tes données :
                        span nombres de reps 
                        span Suivi des jours
                        span Les exercices
                    img(src="./src/media/progress.png", alt="")
            include workout.pug
