.timeBack{
    margin-left: 20px;
}

.circleCrono {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    height: 270px;
    width: 270px;
    border: 5px solid #3d5a80;
    border-radius: 50%;
  }
  
  .time {
    font-weight: 300;
    font-size: 48px;
    color: #ee6c4d;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin:50px auto;
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
    height: 40px;
    width: auto;
  }
  
  #pauseButton {
    display: none;
    height: 40px;
    width: auto;
  }

    
  #resetButton {
    display: block;
    height: 40px;
    width: auto;
  }