.head {
    height: 300px;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.voile{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #293241;
    opacity: 0.8;
}

a{
    z-index: 1;
    text-decoration: none;
    background-color: #ee6c4d;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

h1 {
    color: white;
    padding: 55px;
    z-index: 2;
    text-align: center;
}

video{
    position: absolute;
    z-index: 0;
}

