.resultContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.resultWrapper {
    height: 100%;
    width: 90%;
    padding: 30px;
}

.back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #3D5A80;
    font-weight: 900;
}

.back img {
    height: 20px;
    width: auto;
    margin-right: 15px;
    transform: rotateZ(180deg); 
} 

.wrappDay {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    margin-top: 25px;
}

.day {
    border: none;
    text-align: center;
    width: 70px;
    font-size: 50px;
    color: #ee6c4d;
}

.scoreBoard{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 20px 3px rgba(152, 193, 217, 0.1);
    border-radius: 10px;
}

.scoreboardWrapper {
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.scoreboardWrapper h2{
    width: 100%;
}

.range {
    display: grid;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 80px;
    position: relative;
}

.range .day{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: transparent;
    top: 0;
    opacity: 0.2;
    font-size: 30px;
}

.range p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

#rangeDay[type='range'] {
    overflow: hidden;
    width: 130px;
    height: 35px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border-radius: 10px;
    transform: rotateZ(-90deg);
    border:#fafafa solid 10px;
  }

  #rangeDay[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  #rangeDay[type='range']::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 0px;
    cursor: ew-resize;
    box-shadow: -130px 0 0 130px #98c1d9;
    
  }


/** FF*/
#rangeDay[type="range"]::-moz-range-progress {
background-color: #98c1d9; 
}
#rangeDay[type="range"]::-moz-range-track {  
background-color: rgba(100, 100, 100, 0.2);
}
/* IE*/
#rangeDay[type="range"]::-ms-fill-lower {
background-color: #98c1d9; 
}
#rangeDay[type="range"]::-ms-fill-upper {  
background-color: rgba(100, 100, 100, 0.2);
}