*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

html,body {
    height: 100%;
    width: 100vw;
    font-family: 'ABeeZee', sans-serif;
}

@media screen and (min-width:500px) {        
    *{
        display: none;
    }
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.progression {
    width: 89%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

h4 {
    opacity: 0.5;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h4::after {
    position: absolute;
    height: 2px;
    width: 38%;
    background-color: #98c1d9;
    content: '';
    right: 0;
}

.progressLink {
    height: 200px;
    width: 90%;
    background-color: #3d5a80;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressLink span {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.progressLink span span {
    font-size: 13px;
    opacity: 0.7;
}

.progressLink img {
    height: 100px;
    width: auto;
}

.circle-wrap{
    display: none;
}

.chronoButton {
    position: fixed;
    height: 60px;
    width: 60px;
    background: #293241;
    border-radius: 50%;
    padding: 0;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 10px 1px rgba(41, 50, 65,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chronoButton img {
    height: 35px;
    width: auto;
}