.workoutContainer {
    width: 89%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    
}

.workoutBlock {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;
}

.workoutBlock .block {
    width: auto;
    display: flex;
}


.workoutBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.workoutCheckbox {
    height: 160px;
    width: 100px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border-radius: 20px;
    position: relative;
}

.workoutCheckbox ul {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workoutCheckbox ul li{
    font-size: 13px;
    padding: 7px 0;
}

.workoutCheckbox:nth-child(even){
    background-color: #98c1d9;
}

.workoutCheckbox:nth-child(odd){
    background-color: #ee6c4d;
}

.checkbox {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    bottom:-3%;
    width: 100%;
}

.checkbox > .spanCheck {
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 25px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #293241;
    cursor: pointer;
  }

.checkbox > input:checked {

    background-color: #e0fbfc;
}
.spanCheck{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.spanCheck::before {
    content: '\2713';
    display: block;   
    position: absolute;
    color: #293241;
}


.checkbox > .ifCheckTrac{
    height: 1px;
    width: 1px;
    left: 0;
    position: absolute;
    z-index: 100;
    visibility: hidden;
}